/* Custom settings for reveal.js slides */
.reveal section.present:not(.stack) {
  max-height: 95% !important;
  overflow-y: auto !important;
  padding-top: 0 !important;
}
.reveal section:first-child {
  margin-top: 0 !important;
}
.reveal section:last-child {
  margin-bottom: 0 !important;
}
.reveal pre {
  font-size: var(--jp-code-font-size) !important;
}
.reveal h1 {
  font-weight: bold !important;
  font-size: 2em !important;
}
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4 {
  font-family: "Helvetica", sans-serif;
}
.reveal .highlight pre,
.reveal .highlight code {
  color: inherit !important;
  background-color: inherit !important;
}
.reveal .jp-InputPrompt,
.reveal .jp-OutputPrompt {
  display: none;
}
.reveal .jp-Editor,
.reveal .jp-OutputArea-output {
  background: inherit !important;
  border-radius: 0 !important;
  border: none !important;
  margin: 0 ! important;
  padding: 0 !important;
}
.reveal .jp-OutputArea-output pre {
  margin: 0 !important;
  overflow: hidden !important;
  padding: 0 !important;
  width: 100% !important;
}
.reveal .jp-RenderedHTMLCommon blockquote {
  border: none !important;
  box-shadow: none !important;
}
.reveal .jp-RenderedHTMLCommon pre {
  background: #f8f8f8;
  border: none !important;
  border-radius: var(--jnp-radius) !important;
  box-shadow: none !important;
  padding: var(--jnp-radius) !important;
}
.reveal .jp-RenderedHTMLCommon pre code {
  background-color: inherit;
}
.reveal .jp-RenderedHTMLCommon .highlight pre {
  padding: 0 !important;
}
.reveal a:not(.explicit_url)::after {
  content: " (" attr(href) ")";
  color: grey;
}
.reveal ul,
.reveal ol {
  display: block;
  margin-left: 0;
}
.reveal .flex_aside a:after {
  content: none;
}
